{{ $author := index $.Site.Data.authors (print .Params.author) }}
<article class="BlogPost is-excerpt">

	<header class="BlogPost-header">

		<time class="BlogPost-date" datetime="{{ .Date.Format "2006-01-12" }}">
			{{ .Date.Format "January 2, 2006" }}
		</time>

		<h1 class="BlogPost-title">
			<a href="{{ .URL }}">{{ .Title }}</a>
		</h1>

		<div class="BlogPost-attribution">
			{{ if $author.avatar }}
				<img src="/img/{{ $author.avatar }}" alt="{{ $author.avatar }}" class="BlogPost-avatar">
			{{ end }}
			<span class="BlogPost-author">{{ $author.full_name }}</span>
		</div>

	</header>

	<div class="BlogPost-content">
		<p>{{ .Content | plainify | safeHTML | truncate 420 }}</p>
		<p><a class="BlogPost-more" href="{{ .URL }}">Read more</a></p>
	</div>
</article>