<section class="Blog is-index">
{{ $paginator := .Paginate (where .Site.RegularPages "Section" "==" "blog")  }}
{{ range $paginator.Pages }}
		{{ partial "blog_post_excerpt.html" . }}
	{{ end }}

{{ if gt $paginator.TotalPages 1 }}
	<div class="Blog-pagination">
  {{ if $paginator.HasPrev }}
		<a href="{{ $paginator.Prev.URL }}">&laquo; Prev</a>
  {{ end }}
  {{ range $paginator.Pagers }}
  {{ if eq . $paginator }}
		<em>{{ .PageNumber }}</em>
  {{ else if eq . $paginator.First }}
		<a href="{{ $paginator.Prev.URL }}">{{ .PageNumber }}</a>
  {{ else }}
		<a href="{{ .URL }}">{{ .PageNumber }}</a>
  {{ end }}
  {{ end }}
  {{ if $paginator.HasNext }}
		<a href="{{ $paginator.Next.URL }}">Next &raquo;</a>
  {{ end }}
	</div>
{{ end }}

</section>